body{
	padding: 10px;
	background: url('../img/background.png');
	background-size:100% 100%;
}
form {
	padding: 5px;
	border-radius:6px;
}

#text-input {
  background:none;
  border:none;
  border-bottom: 2px solid #fff;
}
input[type=submit] {
	background: black;
}
input[type=submit]:hover {
	background: white;
	color:black;
	border: 2px solid #fff;
}

#copyright {
	color: #fff;
	margin-bottom: 2px;
	margin-left: 85%;
}